@using TrainingRecordSystemMVC.ViewModels
@model ChangePasswordViewModel

<div class="container">
    <h2 class="custom-heading text-center">Change Password</h2>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card shadow">
                <div class="card-body">
                    <form asp-action="ChangePassword" method="post">
                        <input type="hidden" asp-for="LoginId" />
                        @* <div asp-validation-summary="All" class="text-danger"></div> *@

                        <div class="mb-3">
                            <label asp-for="OldPassword" class="form-label"><i class="fa fa-key"></i> Old Password</label>
                            <input asp-for="OldPassword" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="NewPassword" class="form-label"><i class="fas fa-lock"></i> New Password</label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="NewConfirmPassword" class="form-label"><i class="fas fa-check-circle"></i> Confirm New Password</label>
                            <input asp-for="NewConfirmPassword" class="form-control" />
                            <span asp-validation-for="NewConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a type="button" class="btn btn-outline-danger me-2" asp-action="Index" asp-controller="Home"><i class="fas fa-arrow-left"></i></a>
                            <input type="submit" value="Submit" class="btn btn-primary btn-block" style="background-color:#00b4c1" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    

    .form-label {
        font-weight: bold;
    }

    .custom-heading {
        margin-top: 20px;
        font-size: 2rem;
        font-weight: bold;
        color: #000000;
        text-align: center;
    }

    .card {
        border: 1px solid #ddd;
        border-radius: 8px;
    }

    .card-body {
        padding: 20px;
    }

    .btn-block {
        background-color: #009CA6;
        width: 100%;
    }
</style>
