<div class="container">
  <div *ngIf="loading" class="loader-overlay">
    <img src="assets/loaderImage.gif" class="loader-overlay" alt="loading" />
  </div>

  <h2 class="custom-heading text-center">Change Password</h2>
   <br>

   <div class="row justify-content-center">
    <div class="col-md-6 mb-3">
      <div class="card shadow">
        <div class="card-body">
          <form #changePasswordForm="ngForm" (ngSubmit)="onSubmit(changePasswordForm)" novalidate>
            <div class="mb-3">
              <label for="oldPassword" class="form-label"><i class="fas fa-key"></i> Old password</label>
              <input type="password" id="oldPassword" name="oldPassword" class="form-control"
                [(ngModel)]="user.oldPassword" required >
              <div *ngIf="changePasswordForm.controls['oldPassword']?.invalid && changePasswordForm.controls['oldPassword']?.touched">
                <small class="text-danger" *ngIf="changePasswordForm.controls['oldPassword']?.errors?.['required']">Old password is required.</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label"><i class="fas fa-lock"></i> New password</label>
              <input type="password" id="newPassword" name="newPassword" class="form-control"
                [(ngModel)]="user.newPassword" required minlength="8"
                pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&].{8,}$">
              <div *ngIf="changePasswordForm.controls['newPassword']?.invalid && changePasswordForm.controls['newPassword']?.touched">
                <small class="text-danger" *ngIf="changePasswordForm.controls['newPassword']?.errors?.['required']">New password is required.</small>
                <small class="text-danger" *ngIf="changePasswordForm.controls['newPassword']?.errors?.['minlength']">New password must be at least 8 characters long.</small>
                <!-- <small class="text-danger" *ngIf="changePasswordForm.controls['newPassword']?.errors?.['pattern']">New password must be alphanumeric and contain at least one special character.</small> -->
              </div>
            </div>
            <div class="mb-3">
              <label for="newConfirmPassword" class="form-label"><i class="fas fa-check-circle"></i> Confirm password</label>
              <input type="password" id="newConfirmPassword" name="newConfirmPassword" class="form-control"
                [(ngModel)]="user.newConfirmPassword" (input)="checkPasswords(changePasswordForm)" required>
              <div *ngIf="changePasswordForm.controls['newConfirmPassword']?.invalid && changePasswordForm.controls['newConfirmPassword']?.touched">
                <small class="text-danger" *ngIf="changePasswordForm.controls['newConfirmPassword']?.errors?.['required']">Confirm password is required.</small>
                <small class="text-danger" *ngIf="changePasswordForm.controls['newConfirmPassword']?.errors?.['passwordMismatch']">Passwords do not match.</small>
              </div>
            </div>
            <div>
              <input type="hidden" name="loginId" id="loginId" [(ngModel)]="user.loginId">
            </div>

            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-outline-danger me-2" [routerLink]="['/']" routerLinkActive="router-link-active"><i class="fas fa-arrow-left"></i></button>
              <button type="submit" [disabled]="changePasswordForm.invalid" class="btn btn-dark btn-block me-2"><i class="fas fa-save"></i> Change Password</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
   </div>
</div>

